{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<section class="main" style="background: url('{% static 'imgs/b1.jpg' %}') no-repeat; background-size:100%; background-position:right;">
    <div class="container">
      <h1 class="text-center">Blog</h1>
    </div>
</section>
<div id="blog-body">
  <div class="container divider b2-top" id="blog-article">
    {% if user.is_authenticated%}
      <a href="/blog/add/">Add a Post</a>
    {% endif %}
      <div class="col-md-12 blg-exr">
        <h2>{{ article.title }}</h2>
        {% if user.is_authenticated%}
          <a href="{% url 'edit_bpost' pk=article.pk %}">Edit Post</a>
          <a href="{% url 'delete_bpost' pk=article.pk %}">Delete Post</a>
        {% endif %}
        <p>Published on {{ article.date_published|date:'m-d-Y' }}</p>
        <p>Permalink: {% url 'blog_detail_pk' pk=article.pk %}</p>
        <section>
          {{ article.content|safe }}
        </section>
        <img src="{% static 'imgs/khblacklogo-orange' %}" />
        <p class="text-right">Kyeisha Hodge, LMHC</p>
      </div>
  </div>
</div>
<div id="recommended-articles">
  <div class="container divider b2-top">
    <h3>Recommended Articles</h3>
    {% for article in recommended %}
      {% include 'blog/recommended_item.html' %}
    {% endfor %}
  </div>
</div>
<script>
  $('#navbar .navbar-nav li').removeClass("active");
  $('#blog-link').addClass("active");
</script>
{% endblock %}