{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="main" style="background: url('{% static 'imgs/forest-road-in-the-fall.jpg' %}') no-repeat; background-size:100%; background-position:right;">
    <div class="container">
      <h1 class="text-center">About Kyeisha</h1>
    </div>
  </section>
  <div class="container divider top-con">
    <h2 class="text-center">A Little About Me</h2>
    <div id="about1" class="about-img-div">
      <img class="about-img" src="{% static 'imgs/red-cropped.jpg' %}"/>
    </div>
    <p id="about-p">I was born and raised in NYC surrounded by the electric energy, creativity, and bustling life of the city. I am passionate about healing individuals and groups affected by personal and collective trauma. I am often told that I invite authenticity into my interactions, challenge others in a way that is disarming but not overwhelming, a natural healer, and someone that brings laughter/playfulness, and creativity into the spaces I frequent.</p>
    <p>I am also a dancer who is a huge fan of Beyonce’s choreography. Enough to learn her choreography and offer a dance class at a local dance studio! I also make a habit of indulging in the humor of life by finding ways to stay in contact with the joy and beauty that’s around me.</p>
  </div>
  <div class="container divider">
    <h2 class="text-center">My Clinical & Personal Values</h2>
    <h4>Self-Empowerment</h4><p>I believe that we all have the right to make our own choices and the power to control our own lives. Personal and collective trauma often robs us of this birthright, I seek to restore this.</p>
    <h4>Equality</h4><p>I operate from the basic assumption that we are equal collaborators. Experts in what we know and ignorant in what we do not. This framework establishes curiosity and partnership.</p>
    <h4>Transformation</h4><p>I work from the idea that true transformation begins with the quality of our beliefs. Transforming our beliefs to live more authenticity and abundantly is true freedom.</p>
    <h4>Social Justice</h4><p>My work challenges the emotional, mental, and psychological consequences of injustice in order to create social justice first internally then externally.</p>
    <h4>Thriving</h4><p>All of my services help my clients to pursue a life where thriving isn’t just a possibility but a regular expectation.</p>
  </div>
  <div class="container divider">
    <h2 class="text-center">Education and Training</h2>
    <div id="about2" class="about-img-div">
      <img class="about-img" src="{% static 'imgs/yellow-sip-72.jpg' %}"/>
    </div>
    <p>I am a Licensed Mental Health Counselor (# MC 60507339) in Washington State. I graduated with honors with my Master’s Degree in Mental Health Counseling from CUNY Hunter College and did my undergraduate work in Psychology and Sociology at Stony Brook University.</p>
    <p>I have worked in the mental health field at several outpatient treatment centers for those with chemical dependency issues and trauma. In 2012 I was licensed by New York State Department of Health (DOH) as a Rape Crisis Emergency Room Counselor. As of 2014, I received the training for Washington State requirements for a Domestic Violence direct service provider (WAC 388-61A-0350). I have also worked at the YWCA Domestic Violence Emergency Shelter where I assisted women fleeing from abusive relationships. In addition to this I have served as a mental health counselor at a low-income clinic for women called Seattle Therapy Alliance.</p>
  </div>
  <div class="container spacer">
    <h2 class="text-center">Anti-Oppression Work</h2>
    <p>I am committed to creating and maintaining opportunities for social justice and combating oppression. Below are some of my past work and involvements. </p>
    <ul>
      <li><p>Extensive training from Seattle Therapy Alliance in social justice counseling and various issues related to the intersection of class, gender, race, and sexual orientation, and its impact on mental health.</p></li>
      <li><p>Creating and facilitating the group “Having the Conversation: Discussing Race, Oppression and Privilege”. For almost a year, this free community group served participants as they navigated past and recent racism.</p></li>
      <li><p>Served as a guest facilitator at the University of Washington’s (UW) “Racial Justice Organizing and Caucus” where I assisted in facilitating the conversation racism and various systems of oppression.</p></li>
      <li><p>Provided psychosocial assessments to assist undocumented immigrants and their families.</p></li>
    </ul>
    <div class="col-md-2 col-sm-offset-1">
      <a target="_blank" href="https://therapists.psychologytoday.com/rms/prof_detail.php?profid=237765&p=10&tr=Ext_Verify">
        <img src="{% static 'imgs/external_verification.gif' %}"/>
      </a>
    </div>
    <div class="col-md-4 col-sm-offset-1">
      <a target="_blank" href="https://www.mosaiccounselingcollective.com/kyeisha-hodge-lmhc/">
        <img src="{% static 'imgs/mosaic.jpeg' %}"/>
      </a>
    </div>
    <div class="col-md-2 col-sm-offset-1">
      <a target="_blank" href="https://www.multiculturalcounselors.org/counselors/30">
        <img src="{% static 'imgs/mcc-badge-200.png' %}"/>
      </a>
    </div>
  </div>
  <script>
      $('#navbar .navbar-nav .active').removeClass("active");
      $('#about-link').addClass("active");
  </script>
{% include 'footer.html' %}
{% endblock %}