{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="main" style="background: url('{% static 'imgs/forest-road-in-the-fall.jpg' %}') no-repeat; background-size:100%; background-position:right;">
    <div class="container">
      <h1 class="text-center">About Kyeisha</h1>
    </div>
  </section>
  <div class="container divider top-con">
    <div id="about1" class="about-img-div">
      <img class="about-img" src="{% static 'imgs/red-cropped.jpg' %}"/>
    </div>
    <p id="about-p">As a therapist I seek to facilitate restoration and transformation in individuals and groups affected by personal and collective trauma. The support that I give, avoids pathology, and instead identifies the impact that oppressive systems have had on individual’s mental health. These systems include: race, class, gender, family legacies, sexual orientation, etc. Combined with personal experiences, and trauma, these systems create limiting beliefs that produce symptoms seen in PTSD, Depression, and Anxiety. Therefore I work tirelessly to assist my clients in identifying and revising the beliefs that they have been forced to align with in order to remain safe during trauma. Doing this ensures that they regain their power and create the lives that they <B>choose</B> to live. Empowerment and thriving are always the outcomes I fight for! </p>
    <p>As a clinician I understand the toll that working as a helping professional can have on our overall quality of life. I recognize the need for not only self-care but thriving in our professions. I created Healing the Healers to meet these needs, please click here to learn more about it. </p>
  </div>
  <div class="container divider">
    <h2>My Clinical & Personal Values</h2>
    <ul>
      <li><h4>Self-Empowerment</h4><p>I believe that we all have the right to make our own choices and the power to control our own lives. Personal and collective trauma often robs us of this birthright, I seek to restore this.</p></li>
      <li><h4>Equality</h4><p>All of my services operate from the basic assumption that we are equal collaborators. Experts in what we know and ignorant in what we do not. This framework establishes curiosity and partnership.</p></li>
      <li><h4>Transformation</h4><p>I work from the idea that true transformation begins with the quality of our beliefs. Revising our beliefs to live more authenticity and abundantly is true transform.</p></li>
      <li><h4>Social Justice</h4><p>My work challenges the emotional, mental, and psychological consequences of injustice in order to create social justice.</p></li>
      <li><h4>Thriving</h4><p>All of my services help my clients to pursue a life where thriving isn’t just a possibility but an expectation regularly met.</p></li>
    </ul>
  </div>
  <div class="container divider">
    <h2>Education and Training</h2>
    <div id="about2" class="about-img-div">
      <img class="about-img" src="{% static 'imgs/yellow-sip-72.jpg' %}"/>
    </div>
    <p>I am a Licensed Mental Health Counselor Associate (# MC 60507339) based out of Seattle Washington. I graduated with honors with my Master’s Degree in Mental Health Counseling from CUNY Hunter College and did my undergraduate work in Psychology and Sociology at Stony Brook University.</p>
    <p>I have worked in the mental health field at several outpatient treatment centers for those with chemical dependency issues and trauma. In 2012 I was licensed by New York State Department of Health (DOH) as a Rape Crisis Emergency Room Counselor. As of 2014, I received the training for Washington State requirements for a Domestic Violence direct service provider (WAC 388-61A-0350). I also worked at the YWCA Domestic Violence Emergency Shelter where I assisted women fleeing from abusive relationships. In addition to this I have served as a mental health counselor at Seattle Therapy Alliance, a low-income clinic for women in Seattle where I assisted women who suffer from trauma related symptoms such as PTSD, Anxiety and Depression.</p>
    <p>My past anti-oppression services include creating and facilitating the group “Having the Conversation: Discussing Race, Oppression and Privilege”. For almost a year, this group served participants as they navigated past and recent racism that is at the forefront of American consciousness. </p>
  </div>
  <script>
      $('#navbar .navbar-nav .active').removeClass("active");
      $('#navbar .navbar-nav :nth-child(2)').addClass("active");
  </script>
{% endblock %}