{% load static %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Open+Sans" rel="stylesheet">
    <link rel='shortcut icon' href="{% static 'imgs/favicon.ico' %}" type='image/x-icon'/ >
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Kyeisha Hodge</title>
    </head>
    <body>
        <nav class="navbar navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div id="nav-branding">
                <a class="navbar-brand" href="#"><img src="{% static 'imgs/sig2-white.png' %}"/></a><p>Mental Health Counselor. Coach. Speaker.</p>
              </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="{% url 'home'%}">Home</a></li>
                <li><a href="{% url 'about'%}">About</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'services' %}">Counseling</a></li>
                    <li><a href="{% url 'speaking' %}">Speaking</a></li>
                    <li><a href="{% url 'healers' %}">Healers</a></li>
                  </ul>
                </li>
                <li><a href="{% url 'blog'%}">Blog</a></li>
                <li><a href="{% url 'contact'%}">Contact</a></li>
                <li class="">
                  <a class="dropdown-hover" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'resources'%}">Resources</a></li>
                    <li><a href="{% url 'faq'%}">F.A.Q.</a></li>
                    <!-- <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li> -->
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        {% block content %}
        {% endblock %}
        <footer class="footer">
          <div class="container">
            <div class="col-md-8">
              <p class="text-muted">Therapy doesn't have to be serious! Come prepared to laugh!</p>
              <p class="text-muted">Kyeisha Hodge is a licensed therapist find out <a href="{% url 'about'%}">more</a></p>
              <p class="text-muted small-text">Website designed by <a href="http://nadia-bahrami.ddns.net">Nadia Bahrami</a>  &copy;2016</p>
            </div>
            <div class="col-md-4 contact-info">
              <h4>Contact</h4>
              <p><img class="contact-imgs" src="{% static 'imgs/tele (1).png' %}"/>1 . 205 . 755 . 0502</p>
              <p><img class="contact-imgs" src="{% static 'imgs/email.png' %}"/><a href="mailto:info@kyeishahodge.com​?subject=Website Referral">info@kyeishahodge.com​</a></p>

          </div>
        </footer>
    </body>
</html>