{% extends 'base2.html' %}
{% load static %}
{% block content %}
<section class="b2-top main" id="contact-section">
  <div id=map></div>
</section>
<div class="container divider">
    <div class="col-md-3">
        <h4>Address:</h4>
        <p>600 N 36th Street</p>
        <p>Suite 226</p>
        <p>Seattle, WA 98103</p>
        <h4>Parking:</h4>
        <p>Paid street parking is available 8am to 8pm on the street surrounding both the Fremont Office.</p>
    </div>
    <div class="col-md-7 col-sm-offset-2">
        <p class="contact-p">I offer services in a warm and comfortable environment conveniently located in Fremont Seattle.  Please contact me directly to inquire about available time slots.</p>
        <p id="cp2" class="contact-p">Call (205) 775-0502 or email me at <a href="mailto:info@kyeishahodge.com​?subject=Services Request">info@kyeishahodge.com​</a></p>
    </div>
</div>
<script>
    $('#navbar .navbar-nav li').removeClass("active");
    $('#contact-link').addClass("active");
</script>
<script>
    function initMap() {
      var myLatLng = {lat: 47.651738, lng: -122.351017};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: "Kyeisha Hodge's Office"
      });
    }
</script>
<script>
    $(document).ready(function () {

        // you want to enable the pointer events only on click;

        $('#map').addClass('scrolloff'); // set the pointer events to none on doc ready
        $('.main').on('click', function () {
            $('#map').removeClass('scrolloff'); // set the pointer events true on click
        });

        // you want to disable pointer events when the mouse leave the canvas area;

        $("#map").mouseleave(function () {
            $('#map').addClass('scrolloff'); // set the pointer events to none when mouse leaves the map area
        });
    });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_KEY }}&callback=initMap"
async defer></script>
{% include 'footer.html' %}
{% endblock %}