{% load static %}
<footer class="footer">
  <div class="container contact-outer">
    <div class="col-md-3 contact-logo">
      <img src="{% static 'imgs/logo-1.png' %}"/>
    </div>  
    <div class="col-md-6 contact-div">
      <p id="contact-quote" class="text-muted quote">"Therapy doesn't have to be serious! Come prepared to laugh!"</p>
      <p class="text-muted">Kyeisha Hodge is a licensed therapist. Find out <a href="{% url 'about'%}">more</a>.</p>
      <p class="text-muted small-text">Website designed by <a target="_blank" href="http://nadia-bahrami.ddns.net">Nadia Bahrami</a>  &copy;2016</p>
    </div>
    <div class="col-md-3 contact-info">
      <h4>Contact</h4>
      <p><img class="contact-imgs" src="{% static 'imgs/tele (1).png' %}"/>1 . 205 . 755 . 0502</p>
      <p><img class="contact-imgs" src="{% static 'imgs/email.png' %}"/><a href="mailto:kyeisha.hodge@gmail.com​?subject=Services Request">kyeisha.hodge@gmail.com​</a></p>
  </div>
</footer>