{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="main" style="background: url('{% static 'imgs/IMG_6106-sm-long.JPG' %}') no-repeat; background-size:100%; background-position:right;">
    <div class ="container">
      <div class="col-md-6" id="index-logo">
        <img src="{% static 'imgs/main-logo-fade.png' %}"/>
      </div>
    </div>
  </section>
  <!-- <div class="container divider index-top">
    <div class="col-md-3 col-sm-offset-2">
      <img id="home-portrait" src="{% static 'imgs/profile-lg.png' %}">
      <!-- <div id="img2" class="pull-right">
        <img id="home-logo" src="{% static 'imgs/khblacklogo-orange.png' %}"/>
      </div>
    </div>
    <div class="col-md-5">
<!--       <h1 class="logo-heading lh-1">Tansforming Trauma into Thriving <span class="logo-heading lh-2">&</span></h1>
      <h1 class="logo-heading lh-3">Healing the Healers</h1>
      <div>
        <p>Therapist Kyeisha Hodge, LMHCA</p>
      </div> --
      <img src="{% static 'imgs/main-logo.png' %}"/>
    </div>
  </div> -->
  <div class="container divider top-con">
    <div class="col-md-6">
      <h2 class="text-center">Transforming Trauma into Thriving</h2>
      <p class="text-center">For years, I have had the privilege of serving powerful men and women who have survived childhood abuse, sexual assault, and domestic violence. Despite their vast differences in backgrounds all of the people I serve have been determined to see what their lives would look like if they lived from a place of intention, power, and authenticity. Together, we work together to identify and revise the limitingbeliefs that you were forced to align with in order to survive trauma. My social justice oriented counseling will assist you in healing from trauma while also decreasing the likelihood of re-traumatization that is often a reality for manysurvivors. <a href="{% url 'services' %}">Click here to learn more.</a></p>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">Healing the Healers</h2>
      <p class="text-center">Are you a helping professional that works with clients deeply impacted by trauma? Those of us in positions where we attempt to repair the physical, emotional and mental distress of others often tell me that they unwillingly take on the emotional experiences of their clients, often leaving sessions feeling saturated. For us healers, empathy can become both a gift and a curse. My services not only help prevent secondary and vicarious trauma but works to create a life where thriving as a helping professional is your new standard!  <a href="{% url 'healers' %}">Click here to learn more.</a></p>
    </div>
  </div>
  <div class="container divider">
    <h2>What I Offer</h2>
    <div class="col-md-4">
      <div class="service">
        <a href="{% url 'services' %}">
          <h4 class="text-center">Trauma Counseling</h4>
          <img class="book-cover" src="{% static 'imgs/15-cropped.jpg' %}">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service">
        <a href="{% url 'speaking' %}">
          <h4 class="text-center">Speaking Engagements</h4>
          <img class="book-cover" src="{% static 'imgs/group_paper-figures_77515495.jpg' %}">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service">
        <a href="{% url 'healers' %}">
          <h4 class="text-center">Healing the Healers</h4>
          <img class="book-cover" src="{% static 'imgs/3dd567fca3-u2019-fr.jpg' %}">
        </a>
      </div>
    </div>
  </div>
  <section class="" style="background: url('{% static 'imgs/15-ieu1313-fr.png' %}') no-repeat; background-size:100%; background-position:left;">
    <div class ="container">
      <div class="col-md-6 col-md-offset-5" style="height:400px;">
        <h2>Schedule your Free 20 minute consultation today.</h2>
      </div>
    </div>
  </section>
{% endblock %}