{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container divider">
    <div class="col-md-3 col-sm-offset-1">
      <img id="home-portrait" src="{% static 'imgs/img_4163-cut.png' %}">
      <div id="img2">
        <img id="home-logo" src="{% static 'imgs/sig-outline.png' %}"/>
      </div>
    </div>
    <div class="col-md-8">
      <h1 class="logo-heading lh-1">Tansforming Trauma into Thriving <span class="logo-heading lh-2">&</span> </h1>
      <h1 class="logo-heading lh-3">Healing the Healers</h1>
    </div>
  </div>
  <div class="container divider">
    <div class="col-md-6">
      <h2 class="text-center">Tansforming Trauma into Thriving</h2>
      <p class="text-center">This website is for anyone determined to see what their lives would look like if they lived from a place of intention, power, and authenticity. It’s for those of you seeking counseling, coaching, and/or resources to transform the limiting beliefs created by trauma that do not serve your ideal self. Together we will work to revise the values and identities you were forced to align with in order to survive trauma. My social justice counseling orientation not only will help you heal from trauma but also decreases the likelihood of re-traumatization that is often a reality for many survivors.</p>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">Healing the Healers</h2>
      <p class="text-center">This site is also for healers and helping professionals. Those of us in positions with intense work where we attempt to repair the physical, emotional and mental distress of others. On top of that, my helping professional clients often identify has empaths and tell me that they actively take on the emotional experiences of their clients, feeling saturated. For us healers empathy can become both a gift and a curse. My services not only help prevent secondary or vicarious trauma but works to create a life where thriving as a healing professional is your new standard.</p>
    </div>
  </div>
  <div class="container">
    <h2>What I Offer</h2>
    <div class="col-md-3">
      <h4>Counseling</h4>
    </div>
    <div class="col-md-3">
      <h4>Speaking Engagements</h4>
    </div>
    <div class="col-md-3">
      <h4>Coaching</h4>
    </div>
  </div>
{% endblock %}