{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container divider">
    <h1 class="text-center">Healers at Play</h1>
</div>
<div class="container divider">
  <p class="col-md-10 col-sm-offset-1">As adults we tend to leave the playing to kids. Yet, after studying and surveying helping professionals in the community it appears that we need to learn a thing or two from the little ones.</p>
  <p class="col-md-10 col-sm-offset-1">Healing the Healers works to support the average helping professional in identifying, engaging in, and developing a practice of play! Kyeisha Hodge, the founder of Healing the Healers, can attest to this and demands time in her day few times a week to play. As a dancer, a movie enthusiast, and performer arts supporter, she finds a way to fill her weeks with fun and non-therapy speak. </p>   
  <h4 class="col-md-12 text-center"><a href="{% url 'healers' %}">Return to Healing the Healers</a></h4>
</div>
<script>
    $('#navbar .navbar-nav li').removeClass("active");
    $('#navbar .navbar-nav :nth-child(3)').addClass("active");
</script>
{% endblock %}