{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="main" style="background: url('{% static 'imgs/book-main-long.jpg' %}') no-repeat; background-size:100%; background-position:center left;">
    <div class="container">
        <h1 class="text-center">Resources</h1>
    </div>
</section>
<div class="container divider top-con">
    <p>This page is to assist you in learning about various subjects related to self-development, self-discovery, the pursuit of excellence and trauma. These are some books that I have read and found helpful in my own journey as well as the journey of my clients. </p>
    <p>I have also provided Mental Health resources.</p>
    <h2>Organizations for Mental Health Services </h2>
    <p>Low Fee/Long Term Counseling for Women</p>
    <p>Seattle Therapy Alliance </p>
    <p><a href="http://www.seattletherapyalliance.com" target="_blank">www.seattletherapyalliance.com</a></p>
    <p>Social justice-oriented counseling</p>
    <p>Mosaic Counseling Collective</p>
    <p><a href="http://www.mosaiccounselingcollective.com" target="_blank">www.mosaiccounselingcollective.com</a></p>
    <p>Sexual Assault and Traumatic Stress Center at Harborview: 206-744-1600</p>
    <p>Washington State Domestic Violence Hotline: 1-800-562-6025</p>
    <p>YWCA Domestic Violence Shelter: 206-461-4882</p>
    <p>24hr Crisis Clinic: 206-461-3222</p>
</div>
<div class="container divider">
    <h2>Suggested Books Section</h2>
    <h3>Learning to Thrive </h3>
    <div class="col-md-3 col-sm-4">
        <div class="book">
            <a target="_blank" href="https://www.amazon.com/Awaken-Giant-Within-Immediate-Emotional/dp/0671791540/ref=sr_1_1?ie=UTF8&qid=1480792799&sr=8-1&keywords=Awakening+the+Giant+within"><img class="book-cover" src="{% static 'imgs/awaken-the-giant.jpg' %}"/></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="book">
            <a target="_blank" href="https://www.amazon.com/Abundance-Now-Amplify-Achieve-Prosperity/dp/0062412205/ref=sr_1_1?ie=UTF8&qid=1480793082&sr=8-1&keywords=Abundance+Now"><img class="book-cover" src="{% static 'imgs/abundance-now.jpg' %}"/></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="book">
            <a target="_blank" href="https://www.amazon.com/Mindset-Psychology-Carol-S-Dweck/dp/0345472322/ref=sr_1_1?ie=UTF8&qid=1480793185&sr=8-1&keywords=Mindset%3A+The+New+Psychology+of+Success"><img class="book-cover" src="{% static 'imgs/mindset.jpg' %}"/></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="book">
            <a target="_blank" href="https://www.amazon.com/Untethered-Soul-Journey-Beyond-Yourself/dp/1572245379/ref=sr_1_1?ie=UTF8&qid=1480793595&sr=8-1&keywords=The+untethered+Soul"><img class="book-cover" src="{% static 'imgs/untethered.jpg' %}"/></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="book">
            <a target="_blank" href="https://www.amazon.com/ONE-Thing-Surprisingly-Extraordinary-Results/dp/1885167776/ref=sr_1_1?ie=UTF8&qid=1480794488&sr=8-1&keywords=The+One+Thing"><img class="book-cover" src="{% static 'imgs/one-thing.jpg' %}"/></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="book">
            <a target="_blank" href="https://www.amazon.com/Start-Why-Leaders-Inspire-Everyone/dp/1591846447/ref=sr_1_1?ie=UTF8&qid=1480794577&sr=8-1&keywords=Start+with+Why"><img class="book-cover" src="{% static 'imgs/start-why.jpg' %}"/></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="book">
            <a target="_blank" href="https://www.amazon.com/Trauma-Stewardship-Everyday-Caring-Others/dp/157675944X/ref=sr_1_1?ie=UTF8&qid=1480794701&sr=8-1&keywords=Trauma+Stewardship"><img class="book-cover" src="{% static 'imgs/stewardship.jpg' %}"/></a>
        </div>
    </div>
</div>
<div class="container divider">
    <h3>Domestic Violence</h3>
    <div class="col-md-3">
        <div class="book">
            <a target="_blank" href="https://www.amazon.com/Daily-Wisdom-Does-That-Encouragement/dp/0425265102/ref=sr_1_2?ie=UTF8&qid=1480794811&sr=8-2&keywords=Why+Does+He+Do+That%3F"><img class="book-cover" src="{% static 'imgs/do-that.jpg' %}"/></a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="book">
            <a target="_blank" href="https://www.amazon.com/Trauma-Recovery-Aftermath-Violence-Political/dp/0465061710/ref=sr_1_1?ie=UTF8&qid=1480795085&sr=8-1&keywords=Trauma+and+Recovery%3A+The+Aftermath+of+Violence--From+Domestic+Abuse+to+Political+Terror"><img class="book-cover" src="{% static 'imgs/trauma-recov.jpg' %}"/></a>
        </div>
    </div>
</div>
<script>
    $('#navbar .navbar-nav li').removeClass("active");
    $('#resc-link').addClass("active");
</script>
{% endblock %}