{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="main" style="background: url('{% static 'imgs/book-main-long.jpg' %}') no-repeat; background-size:100%; background-position:center left;">
    <div class="container">
        <h1 class="text-center">Resources</h1>
    </div>
</section>
<div class="container divider top-con">
    <h2>Learning to Thrive </h2>
    <div class="col-md-3 col-sm-4">
        <div class="book">
            <a target="_blank" href="https://www.amazon.com/Awaken-Giant-Within-Immediate-Emotional/dp/0671791540/ref=sr_1_1?ie=UTF8&qid=1480792799&sr=8-1&keywords=Awakening+the+Giant+within"><img class="book-cover" src="{% static 'imgs/awaken-the-giant.jpg' %}"/></a>
        </div>
       <!--  <h4>Kyeisha's Thoughts</h4>
        <p>  This book was very interesting to me for these reasons.   It will help you if you find these things helpful.   Would recommend.</p> -->
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="book">
            <a target="_blank" href="https://www.amazon.com/Abundance-Now-Amplify-Achieve-Prosperity/dp/0062412205/ref=sr_1_1?ie=UTF8&qid=1480793082&sr=8-1&keywords=Abundance+Now"><img class="book-cover" src="{% static 'imgs/abundance-now.jpg' %}"/></a>
        </div>
        <!-- <h4>Kyeisha's Thoughts</h4>
        <p>  This book was very interesting to me for these reasons.   It will help you if you find these things helpful.   Would recommend.</p> -->
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="book">
            <a target="_blank" href="https://www.amazon.com/Mindset-Psychology-Carol-S-Dweck/dp/0345472322/ref=sr_1_1?ie=UTF8&qid=1480793185&sr=8-1&keywords=Mindset%3A+The+New+Psychology+of+Success"><img class="book-cover" src="{% static 'imgs/mindset.jpg' %}"/></a>
        </div>
        <!-- <h4>Kyeisha's Thoughts</h4>
        <p>  This book was very interesting to me for these reasons.   It will help you if you find these things helpful.   Would recommend.</p> -->
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="book">
            <a target="_blank" href="https://www.amazon.com/Untethered-Soul-Journey-Beyond-Yourself/dp/1572245379/ref=sr_1_1?ie=UTF8&qid=1480793595&sr=8-1&keywords=The+untethered+Soul"><img class="book-cover" src="{% static 'imgs/untethered.jpg' %}"/></a>
        </div>
        <!-- <h4>Kyeisha's Thoughts</h4>
        <p>  This book was very interesting to me for these reasons.   It will help you if you find these things helpful.   Would recommend.</p> -->
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="book">
            <a target="_blank" href="https://www.amazon.com/ONE-Thing-Surprisingly-Extraordinary-Results/dp/1885167776/ref=sr_1_1?ie=UTF8&qid=1480794488&sr=8-1&keywords=The+One+Thing"><img class="book-cover" src="{% static 'imgs/one-thing.jpg' %}"/></a>
        </div>
       <!--  <h4>Kyeisha's Thoughts</h4>
        <p>  This book was very interesting to me for these reasons.   It will help you if you find these things helpful.   Would recommend.</p> -->
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="book">
            <a target="_blank" href="https://www.amazon.com/Start-Why-Leaders-Inspire-Everyone/dp/1591846447/ref=sr_1_1?ie=UTF8&qid=1480794577&sr=8-1&keywords=Start+with+Why"><img class="book-cover" src="{% static 'imgs/start-why.jpg' %}"/></a>
        </div>
       <!--  <h4>Kyeisha's Thoughts</h4>
        <p>  This book was very interesting to me for these reasons.   It will help you if you find these things helpful.   Would recommend.</p> -->
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="book">
            <a target="_blank" href="https://www.amazon.com/Trauma-Stewardship-Everyday-Caring-Others/dp/157675944X/ref=sr_1_1?ie=UTF8&qid=1480794701&sr=8-1&keywords=Trauma+Stewardship"><img class="book-cover" src="{% static 'imgs/stewardship.jpg' %}"/></a>
        </div>
        <!-- <h4>Kyeisha's Thoughts</h4>
        <p>  This book was very interesting to me for these reasons.   It will help you if you find these things helpful.   Would recommend.</p> -->
    </div>
</div>
<div class="container divider">
    <h2>Domestic Violence</h2>
    <div class="col-md-3">
        <div class="book">
            <a target="_blank" href="https://www.amazon.com/Daily-Wisdom-Does-That-Encouragement/dp/0425265102/ref=sr_1_2?ie=UTF8&qid=1480794811&sr=8-2&keywords=Why+Does+He+Do+That%3F"><img class="book-cover" src="{% static 'imgs/do-that.jpg' %}"/></a>
        </div>
        <!-- <h4>Kyeisha's Thoughts</h4>
        <p>  This book was very interesting to me for these reasons.   It will help you if you find these things helpful.   Would recommend.</p> -->
    </div>
    <div class="col-md-3">
        <div class="book">
            <a target="_blank" href="https://www.amazon.com/Trauma-Recovery-Aftermath-Violence-Political/dp/0465061710/ref=sr_1_1?ie=UTF8&qid=1480795085&sr=8-1&keywords=Trauma+and+Recovery%3A+The+Aftermath+of+Violence--From+Domestic+Abuse+to+Political+Terror"><img class="book-cover" src="{% static 'imgs/trauma-recov.jpg' %}"/></a>
        </div>
        <!-- <h4>Kyeisha's Thoughts</h4>
        <p>  This book was very interesting to me for these reasons.   It will help you if you find these things helpful.   Would recommend.</p> -->
    </div>
</div>
<script>
    $('#navbar .navbar-nav li').removeClass("active");
    $('#navbar .navbar-nav :nth-child(6)').addClass("active");
</script>
{% endblock %}