{% extends 'base2.html' %}
{% load static %}
{% block content %}
<div class="container divider b2-top">
    <h1 class="text-center"><img src="">PICTURE HERE</h1>
    <h2>Kyeisha Hodge, LMHC, M.S.Ed.</h2>
</div>
<div class="container divider">
  <p>“Therapy shouldn’t be a place you go to slap another label of pathology on yourself. Therapy is where you go to remove the already stuck on destructive labels and give yourself permission to thrive and achieve your brand of excellence!”</p>
  <p>&nbsp;</p>
  <h4>Getting Past Survivor Mode and into Thriving Mode</h4>
  <p>Survivor mode is common for those effected by traumatic experiences. Although once necessary to endure experiences, survivor mode continues to paint the world in dull colors long after we leave trauma behind. It holds us hostage to a limited range of experiences and feelings in order to avoid perceived dangers. In our time together we will not only explore, and unpack your past but also move into painting the world in whatever colors you desire.</p>
  <p>"I aim to serve and include African Americans and communities of color in therapy’s healing process. The style of counseling I offer considers collective trauma and re-frames mental dysfunction as a strategy to stay safe within dysfunctional experiences."</p>
  <p>&nbsp;</p>
  <h4>Healing Personal and Collective Trauma</h4>
  <p>Together we will explore how the collective trauma of racism and sexism impact mental health. We will also explore the different systems you belong to and then uncover, challenge, and revise the beliefs that you had to align with in order to safely navigate these systems.  </p>
  <p>For example, if you have learned that in order to be safe you must give away your power, or, that having extreme control over yourself and others means you can avoid pain, then you understand the power of our environments to shape who we are.  </p>
  <p>This social justice perspective to counseling not only creates healing but also decreases the likelihood of finding yourself in future abusive environments.</p>
  <h4>A Unique Approach</h4>
  <p>The two most holistic methods of healing that I can offer you are Narrative Therapy and Cognitive Processing Therapy. Narrative therapy focuses on uncovering the stories we create about ourselves and acknowledges our power to rewrite the destructive ones. Cognitive Processing Therapy offers concrete techniques to change limiting beliefs, thoughts, actions and assumptions that get in the way of living the highest quality of life possible.</p>
  <p>&nbsp;</p>
  <h4>My Specific Counseling Specialties</h4>
  <p>My expertise lies in assisting in the healing of the following issues:</p>
  <ul>
    <li>Domestic Violence</li>
    <li>Sexual Assault</li>
    <li>Childhood Abuse</li>
    <li>PTSD and Anxiety</li>
    <li>African American Issues</li>
    <li>Collective Trauma (racism, sexism, classism, etc)</li>
  </ul>
</div>
<script>
    $('#navbar .navbar-nav li').removeClass("active");
    $('#service-link').addClass("active");
</script>
{% endblock %}