{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container divider">
    <h1>Speaking Engagements</h1>
</div>
<div class="container divider">
    <div class="col-md-2">
        <div class="front talk1">
            <p class="text-center talks">Title</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="front talk2">
            <p class="text-center talks">Title</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="front talk3">
            <p class="text-center talks">Title</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="front talk4">
            <p class="text-center talks">Title</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="front talk5">
            <p class="text-center talks">Title</p>
        </div>
    </div>
</div>

<script>
    $('#navbar .navbar-nav li').removeClass("active");
    $('#navbar .navbar-nav :nth-child(3)').addClass("active");
</script>
{% endblock %}