{% extends 'base2.html' %}
{% load static %}
{% block content %}
<div class="container divider">
    <h1 class="text-center">Speaking Engagements</h1>
</div>
<div class="container spacer">
    <p class="text-center">Kyeisha has given a multiude of talks regarding her areas of expertise.   Select from the topics below to read more</p>
</div>
<div class="container spacer speeches">
    <div class="col-md-3 col-sm-offset-1">
        <a href="#hook1"><div class="front talk1 small-title">
            <h2 class="text-center talks">Revising Limiting Beliefs to Heal Trauma</h2>
        </div></a>
    </div>
    <div class="col-md-3 talk">
        <a href="#hook2"><div class="front talk2">
            <h2 class="text-center talks">Emotional Cleansing: <h4 class="text-center">An Essential Tool in Avoiding Secondary Trauma</h4></h2>
        </div><a>
    </div>
    <div class="col-md-3 talk">
        <a href="#hook3"><div class="front talk3 small-title">
            <h2 class="text-center talks">Self-Care as a Mindset Shift & Practices</h2>
        </div></a>
    </div>
</div>
<div class="container divider speeches">
    <div class="col-md-3 col-sm-offset-1">
        <a href="#hook4"><div class="front talk4 small-title">
            <h2 class="text-center talks">Shame & Domestic Violence</h2>
        </div></a>
    </div>
    <div class="col-md-3 talk">
        <a href="#hook5"><div class="front talk5 small-title">
            <h2 class="text-center talks">Empowerment Based Therapy & Social Justice</h2>
        </div></a>
    </div>
    <div class="col-md-3 talk">
        <a href="#hook6"><div class="front talk6 small-title">
            <h2 id="hook1" class="text-center talks">How’s Your Relationship with Yourself Going?</h2>
        </div></a>
    </div>
</div>
<div class="container divider">
    <h2 class="text-center" id="talk1">Revising Limiting Beliefs to Heal Trauma</h2>
    <p class="col-md-10 col-md-offset-1 text-center">This is the description of the talk.  It is a good talk.  Kyeisha knows her stuff. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis lorem id metus condimentum tempus. Aenean interdum vel sapien posuere blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eleifend rhoncus dolor vel congue. Quisque gravida, sapien eget imperdiet eleifend, eros lectus viverra tellus, id volutpat nisl velit ac elit. Vivamus leo ipsum, sodales non pellentesque id, volutpat eget arcu. Praesent gravida auctor tortor, ac pulvinar enim consectetur a. Proin efficitur elementum lacinia.</p>
    <h4 id="hook2"class="text-center col-md-12">Request Kyeisha's talk, Revising Limiting Beliefs to Heal Trauma, <a href="mailto:info@kyeishahodge.com​?subject=Talk: Revising Limiting Beliefs">now</a>.</h4>
</div>
<div class="container divider">
    <h2 class="text-center" id="talk2">Emotional Cleansing: An Essential Tool in Avoiding Secondary Trauma</h2>
    <p class="col-md-10 col-md-offset-1 text-center">This is the description of the talk.  It is a good talk.  Kyeisha knows her stuff. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis lorem id metus condimentum tempus. Aenean interdum vel sapien posuere blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eleifend rhoncus dolor vel congue. Quisque gravida, sapien eget imperdiet eleifend, eros lectus viverra tellus, id volutpat nisl velit ac elit. Vivamus leo ipsum, sodales non pellentesque id, volutpat eget arcu. Praesent gravida auctor tortor, ac pulvinar enim consectetur a. Proin efficitur elementum lacinia.</p>
    <h4 id="hook3" class="text-center col-md-12">Request Kyeisha's talk, Emotional Cleansing: An Essential Tool in Avoiding Secondary Trauma, <a href="mailto:info@kyeishahodge.com​?subject=Talk: Emotional Cleansing">now</a>.</h4>
</div>
<div class="container divider">
    <h2 class="text-center" id="talk3">Self-Care as a Mindset Shift & Practices</h2>
    <p class="col-md-10 col-md-offset-1 text-center">This is the description of the talk.  It is a good talk.  Kyeisha knows her stuff. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis lorem id metus condimentum tempus. Aenean interdum vel sapien posuere blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eleifend rhoncus dolor vel congue. Quisque gravida, sapien eget imperdiet eleifend, eros lectus viverra tellus, id volutpat nisl velit ac elit. Vivamus leo ipsum, sodales non pellentesque id, volutpat eget arcu. Praesent gravida auctor tortor, ac pulvinar enim consectetur a. Proin efficitur elementum lacinia.</p>
    <h4 id="hook4" class="text-center col-md-12">Request Kyeisha's talk Self-Care as a Mindset Shift & Practices, <a href="mailto:info@kyeishahodge.com​?subject=Talk: Revising Self-Care as a Mindset Shift and Practices">now</a>.</h4>
</div>
<div class="container divider">
    <h2 class="text-center" id="talk4">Shame & Domestic Violence</h2>
    <p class="col-md-10 col-md-offset-1 text-center">This is the description of the talk.  It is a good talk.  Kyeisha knows her stuff. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis lorem id metus condimentum tempus. Aenean interdum vel sapien posuere blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eleifend rhoncus dolor vel congue. Quisque gravida, sapien eget imperdiet eleifend, eros lectus viverra tellus, id volutpat nisl velit ac elit. Vivamus leo ipsum, sodales non pellentesque id, volutpat eget arcu. Praesent gravida auctor tortor, ac pulvinar enim consectetur a. Proin efficitur elementum lacinia.</p>
    <h4 id="hook5" class="text-center col-md-12">Request Kyeisha's talk, Shame & Domestic Violence, <a href="mailto:info@kyeishahodge.com​?subject=Talk: Shame and Domestic Violence">now</a>.</h4>
</div>
<div class="container divider">
    <h2 class="text-center" id="talk5">Empowerment Based Therapy & Social Justice</h2>
    <p class="col-md-10 col-md-offset-1 text-center">This is the description of the talk.  It is a good talk.  Kyeisha knows her stuff. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis lorem id metus condimentum tempus. Aenean interdum vel sapien posuere blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eleifend rhoncus dolor vel congue. Quisque gravida, sapien eget imperdiet eleifend, eros lectus viverra tellus, id volutpat nisl velit ac elit. Vivamus leo ipsum, sodales non pellentesque id, volutpat eget arcu. Praesent gravida auctor tortor, ac pulvinar enim consectetur a. Proin efficitur elementum lacinia.</p>
    <h4 id="hook6" class="text-center col-md-12">Request Kyeisha's talk, Empowerment Based Therapy & Social Justice, <a href="mailto:info@kyeishahodge.com​?subject=Talk: Empowerment Based Therapy">now</a>.</h4>
</div>
<div class="container divider">
    <h2 class="text-center" id="talk6">How’s Your Relationship with Yourself Going?</h2>
    <p class="col-md-10 col-md-offset-1 text-center">This is the description of the talk.  It is a good talk.  Kyeisha knows her stuff. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis lorem id metus condimentum tempus. Aenean interdum vel sapien posuere blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eleifend rhoncus dolor vel congue. Quisque gravida, sapien eget imperdiet eleifend, eros lectus viverra tellus, id volutpat nisl velit ac elit. Vivamus leo ipsum, sodales non pellentesque id, volutpat eget arcu. Praesent gravida auctor tortor, ac pulvinar enim consectetur a. Proin efficitur elementum lacinia.</p>
    <h4 class="text-center col-md-12">Request Kyeisha's talk, How’s Your Relationship with Yourself Going?, <a href="mailto:info@kyeishahodge.com​?subject=Talk: Relationship with Yourself">now</a>.</h4>
</div>
<script>
    $('#navbar .navbar-nav li').removeClass("active");
    $('#navbar .navbar-nav :nth-child(3)').addClass("active");
</script>
{% endblock %}