{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="main" style="background: url('{% static 'imgs/p2b.jpg' %}') no-repeat; background-size:100%; background-position:right;">
    <div class="container">
      <h1 class="text-center">Presentations</h1>
    </div>
</section>
<div class="container divder top-con">
    <p class="text-center">Kyeisha has given a multiude of talks regarding her areas of expertise.   Select from the topics below to read more</p>
</div>
<div id="two-talks" class="container spacer">
    <div class="col-md-4 col-md-offset-1">
        <img class="talk-dot" src="{% static 'imgs/pd-3.png' %}"/>
        <p>In this presentation participants will:</p>
        <ul>
            <li>Understand the Duluth Model of the “Power & Control Wheel”</li>
            <li>Understand the common tactics of abuse   </li>
            <li>Be able to better assess and disengage from potentially abuse people and environments.</li>
            <li>Relate tactics of abuse in Domestic Violence to other forms of oppression like racism, sexism, and classism.</li>
            <li>Understand the psychological consequences of tactics described above (including internalized oppression)</li>
            <li>Become introduced to shame’s role in perpetuating oppression</li>
            <li>Understand how to implement specific empowerment tools to help reverse the effects of oppression</li>
            <li>Refer to the “Wheel of Equality” as inspiration for how to overcome Domestic violence and other form of abuse and oppression.</li>
        </ul>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <img class="talk-dot" src="{% static 'imgs/pd-4.png' %}"/>
        <p>In this presentation participants will:</p>
        <ul>
            <li>Assess the current quality of relationship with themselves</li>
            <li>Explore the fundamental requirements for a healthy relationship (with others and self)</li>
            <li>Explore the role of self-talk in determining self-worth</li>
            <li>Differentiate between “rumination” and “worrying”</li>
            <li>Identify the common cognitive distortions</li>
            <li>Learn how to revise negative self-talk</li>
            <li>Explore the benefits of “Self-Mastery” as a concept and life style</li>
            <li>Learn how to implement specific tools for self-mastery including controlling your focus.</li>
        </ul>
    </div>
</div>
<div id="two-talks" class="container spacer">
    <div class="col-md-4 col-md-offset-1">
        <img class="talk-dot" src="{% static 'imgs/pd-2.png' %}"/>
        <p>In this presentation participants will:</p>
        <ul>
            <li>Understand the relationship between beliefs, thoughts, emotions, and behavior.</li>
            <li>Understand how beliefs are formed in the context of trauma</li>
            <li>Recognize the common limiting beliefs for survivors of abuse </li>
            <li>Recognize the emotional, and mental consequences of these common limiting beliefs</li>
            <li>Explore their personal major limiting beliefs</li>
            <li>Gain an understanding of how these beliefs have created consequences in different life areas </li>
            <li>Learn how to revise limiting beliefs through changing state, focus, and other tools</li>
            <li>Create a plan for addressing personal limiting beliefs</li>
        </ul>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <img class="talk-dot" src="{% static 'imgs/pd-1.png' %}"/>
        <p>In this presentation participants will:</p>
        <ul>
            <li>Gain a basic understanding of Domestic Violence (DV)</li>
            <li>Gain a basic understanding of shame (including being introduced to research from Brene Brown)</li>
            <li>Understand the common myths associated with DV and their role in collective and individual shame</li>
            <li>Understand the role of systems in perpetuating these myths  </li>
            <li>Gain a basic understanding of internalized oppression </li>
            <li>Become familiar with shame resiliency techniques for domestic violence survivors. </li>
            <li>Understand a handful of ways to address shame in DV survivors and the community at large </li>
        </ul>
    </div>
</div>
<script>
    $('#navbar .navbar-nav li').removeClass("active");
    $('#service-link').addClass("active");
</script>
{% include 'footer.html' %}
{% endblock %}