@media screen and (max-width: 767px) {
    /* Loading Overlay */
    #loading-logo {
        width: 60vw;
    }
    #loading-text {
        width: 70vw;
        top: 52%;
    }
    #loading-gif {
        width: 10vw;
        top: 60%;
    }

    /* Navigation */
    .navbar-toggle {
        position: absolute;
        right: 0;
        top: 40%;
        transform: translateY(-50%);
    }
    #nav-mobile {
        display: block;
    }
}