@media screen and (max-width: 767px) {
    /* Boilerplate */
    h2 {
        font-size: 2.8em;
    }
    p {
        font-size: 1.15em;
    }

    .container,
    .col-md-12 {
        padding-left: 0;
        padding-right: 0;
    }
    .container {
        margin-left: 15px;
        margin-right: 15px;
    }
    .container .container {
        margin-left: 0px;
        margin-right: 0px;
    }

    /* Loading Overlay */
    #loading-logo {
        width: 60vw;
    }
    #loading-text {
        width: 70vw;
        top: 52%;
    }
    #loading-gif {
        width: 10vw;
        top: 60%;
    }

    /* Navigation */
    .navbar-toggle {
        position: absolute;
        right: 0;
        top: 40%;
        transform: translateY(-50%);
    }
    #nav-mobile {
        display: block;
    }

    /* Footer */
    #consult {
        width: 100%;
    }
    .contact-logo {
        display: none;
    }
    .contact-info {
        font-size: 16px;
        width: 300px;
        margin: auto;
    }
    .copyright {
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 2px;
    }
    .copyright-full {
        display: none;
    }
    .copyright-mobile{
        display: block;
    }

    /* Home */
    #home-top {
        padding: 0 15px;
        text-align: left;
    }
    #home-top h2 {
        text-align: center;
    }

    .service-container {
        width: 100%;
        height: 40vw;
        padding-left: 0;
        margin-bottom: 20px;
    }

    .service-img img {
        width: 95%;
    }
    .service {
        height: 40vw;
    }

    .service h3 {
        font-size: 8vw;
    }
    .service h4 {
        font-size: 4vw;
        max-width: 90%;
        margin: 20px auto;
    }

}