body {
    margin: 0px;
    height:100%;
}

img {
    height:auto;
    width:100%;
}

h1 {
    font-family: 'Poiret One', cursive;
    font-size: 6em; 
}

h2 {
    font-family: 'Poiret One', cursive;
    font-family: 'Arimo', sans-serif;
    font-family: 'Rosario', sans-serif;
/*    font-family: 'News Cycle', sans-serif;*/
    font-size: 4em;
}

h3 {
    font-family: 'Poiret One', cursive;
    font-size: 3.5em;
    margin-bottom: 0px;
}

h4 {
    font-family: 'Poiret One', cursive;
    /*font-family: 'Flamenco', cursive;*/
    /*color:#F94A61;*/
    font-size:3em;
    margin-top: 20px;
}

p {
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 1.35em;
}

ul {
    list-style-type: none;
}



/* hidden navigation bar*/
nav {
    color: white;
    padding-right: 20px;
    width:100%;
    height:80px;
    position:fixed;
    top:0px;
    z-index:3;
}

nav #background, nav #labels, nav #background2 {
    position:absolute;
    top:0px;
    width:100%;
    height:100%;
}

nav #labels {
    background-color: transparent;
}

nav #background {
    background-color: #F27C54;
    display: none;
}

nav #background2 {
    background-color: #F27C54;
}

nav .main-opt {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-top: 12px;
}

nav .navbar-collapse a:hover {
    background-color: transparent;
    color:white;
}

nav .navbar-collapse ul .active a {
    border: 2px solid white;
    color: white;
}

nav .navbar-collapse ul .active a:hover {
    background-color: transparent;
    color:white;
}

.icon-bar {
    background-color:white;
}

.navbar-header img {
    height: 55px;
    margin-top: -17px;
}

.navbar-right {
    margin-right: 15px;
}

.nav .open>a:hover, .nav .open>a {
   /* border: 2px solid rgba(255, 146, 109, 1);*/
    border: 2px solid rgba(255, 255, 255, .6);
    background-color: transparent;
}

#drop-opt {
    color:#333;
}

#index-logo {
    margin-top:125px;
    padding-top: 0px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .85);
}

#nav-branding {
    width:500px;
}

#nav-branding img {
    margin-top: 1px;
}

#nav-branding p {
    font-family: 'Raleway', sans-serif;
    padding-top:35px;
    margin-bottom: 0px;
    display: inline-block;
    margin-left: -15px;
    font-size: 1.2em;
}

#nav-branding div{
    width:140px;
}



/*footer*/
.footer {
    width: 100%;
    height: 100px;
    background-color: white;
    padding-top:20px;
    margin-bottom: 20px;
    border-top: 3px solid #54F2CE;
}

.footer p{
    /*margin: 20px 0;*/
}

.contact-outer {
    padding-bottom: 10px;
}

.contact-div {
    padding-top: 5px;
}

.text-muted {
    margin:2px;
}

.small-text{
   font-size: .8em;
}

#contact-quote {
    font-size:1.4em;
}



/* common classes */
.main {
    height:500px;
    border-bottom: 3px solid #54F2CE;
}

.main h1 {
    padding-top: 190px;
    color:white;
}

.divider{
    border-bottom: 2px solid #54F2CE;
    padding-bottom: 25px;
}

.top-con {
    margin-top: 20px;
}

.spacer {
    margin-bottom: 20px;
}


.b2-top{
    padding-top: 79px;
}

.intro-p {
    font-size: 1.5em;
}



/*index page*/
.service {
    border-radius: 20px;
    border: 3.5px solid #006dbe;
    height: 300px;
    background-color: rgba(0, 109, 190, .4);
    color: #006dbe;
}

.service h4 {
    margin-top: 86px;
    padding-left: 14%;
    padding-right:14%;
    font-size: 3.8em;
}

.service .s2 {
    margin-top: 57px;
}

.service:hover {
    color:lightgrey;
    background-color: rgba(0, 109, 190, .7);
}

#home-squares a {
    text-decoration: none;
}

.service img {
    border-radius: 20px;
}

#home-squares{
    margin-bottom: 0px;
    padding-bottom: 25px;
}

#MHC {
    margin-top: -3px;
}

#consult {
    width: 100%;
    height:500px;
    border-top: 2px solid rgba(84, 242, 206, 1);
}

#consult-container{
    border-radius: 20px;
    border: 2px solid white;
    height: 300px;
    background-color: rgba(255, 255, 255, .7);
}

#consult-text {
    color:#333;
    text-decoration: none;
}

#consult-text:hover {
    text-decoration: none;
}


/*about page*/
.about-img-div {
    width:250px;
    margin-right: 20px;
}

.about-img{
    height:auto;
    width: 100%;
    border-radius: 10%;
    border:2px solid #54F2CE;
}

#about-p {
    margin-top:20px;
}

#about1 {
    float: left;
}

#about2 {
    float:right;
}



/* Resource Page*/
.book-cover {
    height:300px;
    width:100%;
}

.book {
    width:200px;
    margin-top: 20px;
}

.res-con .divider {
    border-bottom: 2px solid darkgrey;
}

.res-con h4 {
    font-size: 2.8em;
}

#res-2{
    margin-top: 40px;
}



/* Contact Page*/
.contact-info h4 {
    margin-top: 0px;
}

.contact-imgs {
    width:20px;
    height:20px;
    margin-right: .4em;
    margin-left: 1em;
}

.scrolloff {
    pointer-events: none;
}

.contact-p {
     font-family: 'Poiret One', cursive;
    font-size: 2em;
    color:#333;
    padding-top: 20px;
}

#cp2 {
    font-size:2em;
    color:#333;
    font-family: 'Raleway', sans-serif;
}

#map {
    height:368px;
}

#contact-section {
    height:450px;
}


/* Healers */
#healer-logo {
    padding-top:15px;
}

.front {
    width:100%;
    height: 230px;
    padding: 20px;
    border-radius: 50%;
}

.small-title {
    padding-top:35px;
    padding-left: 25px;
    padding-right: 25px;   
}

#b1 {
    background-color: #006dbe;
    color:white;
}

#b1:hover {
    color:lightgrey;
}

#b2 {
    background-color: #50d4fc;
}

#b3 {
    background-color: #ffb92d;
}


/* Counseling Page */
.quote{
    color: black;
    font-family: 'Vesper Libre', serif;
    padding-top: 20px;
    font-style: italic;
    font-size: 1.5em;
}

#coun-img {
    padding-top: 30px;
    width:300px;
    margin-left: auto;
    margin-right: auto;
}


/*Speaking Page*/

.spacer {
    margin-bottom: 20px;
}



/* Blog */
.blg-exr {
    border:5px black solid;
    margin-bottom: 30px;
    border-radius: 20px;
}
