body {
    margin: 0px;
    height:100%;
}

img {
    height:auto;
    width:100%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 4em; 
    color: #EC8E71;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    color: #EC8E71;
}
h2.text-center {
    margin-bottom: 25px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 3.5em;
    margin-bottom: 0px;
    color: #EC8E71;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size:3em;
    margin-top: 20px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.35em;
    line-height: 1.4em;
    letter-spacing: 0.03em;
}
.container p {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}



/* hidden navigation bar*/
nav {
    color: white;
    padding-right: 20px;
    width:100%;
    height:80px;
    position:fixed;
    top:0px;
    z-index:3;
}

nav #background, nav #labels, nav #background2 {
    position:absolute;
    top:0px;
    width:100%;
    height:100%;
}

nav #labels {
    background-color: transparent;
}

nav #background {
    background-color: #EC8E71;
    /*display: none;*/
}

nav #background2 {
    background-color: #EC8E71;
}

nav .main-opt {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-top: 12px;
}

nav .navbar-collapse a:hover {
    background-color: transparent;
    color:white;
}

nav .navbar-collapse ul .active a {
    border: 2px solid white;
    color: white;
}

nav .navbar-collapse ul .active a:hover {
    background-color: transparent;
    color:white;
}

.icon-bar {
    background-color:white;
}

.navbar-header img {
    height: 55px;
    margin-top: -17px;
}

.navbar-right {
    margin-right: 15px;
}

.nav .open>a:hover, .nav .open>a {
   /* border: 2px solid rgba(255, 146, 109, 1);*/
    border: 2px solid rgba(255, 255, 255, .6);
    background-color: transparent;
}

#drop-opt {
    color:#333;
}

#index-logo {
    margin: auto;
    padding: 50px 100px;
    border: 2px solid white;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .85);
    width: 70%;
    float: none;
}

#index-logo img {}

#index-logo #prof-title {
    text-align: center;
    color: #EC8E71;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 1.9em;
}

#nav-branding {
    width:500px;
}

#nav-branding img {
    margin-top: 1px;
}

#nav-branding p {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0px;
    margin-left: -15px;
    font-size: 1.2em;
}

#nav-branding div{
    width:140px;
}
#main-description {
    position: relative;
    top: 20px;
}


/*footer*/
.footer {
    width: 100%;
    background-color: white;
    padding-top:20px;
    border-top: 3px solid #54F2CE;
    overflow: hidden;
}

.footer p{
    letter-spacing: 0em;
    line-height: 1em;
    margin-bottom: 10px;
}

.contact-outer {
    margin-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
}
.contact-logo {
    color: #EC8E71;
    text-align: center;
    font-weight: 700;
}
.contact-info a {
    text-decoration: none;
    color: black;
}
.contact-info a:hover {
    text-decoration: none;
    color: black;
}


.contact-div {
    padding-top: 5px;
}

.text-muted {
    margin:2px;
}

.small-text{
   font-size: .8em;
}

#contact-quote {
    font-size:1.4em;
}
.copyright {
    background-color: #EC8E71;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.copyright p {
    display: inline-block;
}
.copyright-mobile {
    display: none;
}

/* common classes */
.main {
    height:500px;
    border-bottom: 3px solid #54F2CE;
    margin-top: 79px;
}

.main .container {
    height: 100%;
}
.main .col-md-8 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.main h1 {
    color: white;
    font-size: 8em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.divider{
    border-bottom: 2px solid #54F2CE;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

.top-con {
    margin-top: 20px;
}

.spacer {
    margin-bottom: 20px;
}


.b2-top{
    padding-top: 79px;
}

.intro-p {
    font-size: 1.5em;
}



/*index page*/
.service-container {
    overflow: hidden;
    width: 45%;
    margin: 0 2.5% 40px;
}
.service {
    height: 300px;
    z-index: 1;
}
.service-inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.service-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.s1 img {
    width: auto;
    height: 300px;
}
.s2 {
    top: -30%;
}
.s4 {
    top: -55%;
}
.s4 img {
    width: 150%;
}

.service h3,
.service h4 {
    color: white;
    font-weight: 700;
}

.service h3 {
    margin-top: 0;
}
.service h4 {
    font-size: 1.7em;
}

.service:hover {
    color:lightgrey;
    background-color: rgba(0, 109, 190, .7);
}

#home-top {
    text-align: center;
    margin-top: 0;
}
#home-top .container {
    padding-left: 0;
}

#home-squares a {
    text-decoration: none;
}

#home-squares{
    margin-bottom: 0px;
    padding-bottom: 25px;
}

#MHC {
    margin-top: -3px;
}

#consult {
    width: 85%;
    margin: auto;
    position: relative;
}
#consult .container {
    width: 100%;
}
#consult a {
    text-decoration: none;
}
#consult a:hover {
    text-decoration: none;
}

#consult-container{
    border-radius: 20px;
    margin: 40px 0;
    border: 2px solid white;
    height: 200px;
    background-color: rgba(255, 255, 255, .7);
    position: relative;
    right: 70px;
    width: 40%;
}

#consult-text {
    text-decoration: none;
    font-weight: 800;
    font-size: 2.3em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    line-height: 1.5em; 
    font-style: italic;
}


/*about page*/
.about-img-div {
    width: 350px;
    margin-right: 30px;
    margin-left: 20px;
}

.about-img{
    height:auto;
    width: 100%;
    border-radius: 10%;
    border:2px solid #54F2CE;
}

.about-p {
    margin-top:20px;
    letter-spacing: 0.1vw;
    line-height: 1.4em;
}

#about1 {
    float: left;
}

#about2 {
    float:right;
}

.value-item {
    margin: 40px auto;
}

#affiliates {
    overflow: hidden;
    height: 160px;
    position: relative;
}
#affiliates div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/* Resource Page*/
.book-cover {
    height:300px;
    width:100%;
}

.book {
    width:200px;
    margin-top: 20px;
}

.res-con .divider {
    border-bottom: 2px solid darkgrey;
}

.res-con h4 {
    font-size: 2.8em;
}

#res-2{
    margin-top: 40px;
}
.contact-info a {
    font-size: 0.9em;
}


/* Contact Page*/
.contact-info h4 {
    margin-top: 0px;
}

.contact-imgs {
    width:20px;
    height:20px;
    margin-right: .4em;
    margin-left: 1em;
}

.scrolloff {
    pointer-events: none;
}

.contact-p {
     font-family: 'Raleway', sans-serif;
    font-size: 2em;
    color:#333;
    padding-top: 20px;
}

#cp2 {
    font-size:2em;
    color:#333;
    font-family: 'Raleway', sans-serif;
}

#map {
    height:368px;
}

#contact-section {
    height:450px;
}


/* Healers */
#healer-logo {
    padding-top:15px;
}

.front {
    width:100%;
    height: 230px;
    padding: 20px;
    border-radius: 50%;
}

.small-title {
    padding-top:35px;
    padding-left: 25px;
    padding-right: 25px;   
}

#b1 {
    background-color: #006dbe;
    color:white;
}

#b1:hover {
    color:lightgrey;
}

#b2 {
    background-color: #50d4fc;
}

#b3 {
    background-color: #ffb92d;
}


/* Counseling Page */
.quote{
    color: black;
    font-family: 'Vesper Libre', serif;
    padding-top: 20px;
    font-style: italic;
    font-size: 1.5em;
}

#coun-img {
    padding-top: 30px;
    width:300px;
    margin-left: auto;
    margin-right: auto;
}


/*Speaking Page*/




/* Blog */
.blg-exr {
    margin-bottom: 30px;
    padding-left: 0px;
    border-left: 2px solid black;
}

.article- {
    background-color: orange;
}

.article-test {
    background-color: orange;
}

.article-Healers {
    background-color: rgba(0, 109, 190, 1);
}

#blog-body {
    display: flex;
    background: lightgrey;
}

#blog-menu {
    display: inline-block;
    padding-left:20px;
    flex:1;
    width: 10%;

}

#blog-articles {
    display: inline-block;
    width:80%;
    border-left: 2px solid black;
    background: white;
    padding-top: 20px;
}

#article-bar {
    height:30px;
}

/* TWEAKS */
.top-10 {
    margin-top: 10px;
}
.top-20 {
    margin-top: 20px;
}
.top-30 {
    margin-top: 30px;
}
.top-40 {
    margin-top: 40px;
}
.top-50 {
    margin-top: 50px;
}