{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="main" style="background: url('{% static 'imgs/bey1.jpg' %}') no-repeat; background-size:100%; background-position:right;">
    <div class="container">
      <h1 class="text-center">Dance like Beyoncé</h1>
    </div>
  </section>
  <div class="container divider">
    <h2 class="text-center">Join me in an actual dance studio to re-create some of Beyoncé’s classic choreography!</h2>
    <p>We will be meeting bi-weekly and going through the same choreography for four meetups in a row then moving onto another of Beyoncé fabulous choreography.</p>
    <p>Currently, we are learning choreography from “Formation” then moving onto “Dance for You” (I am also open to changing plans if the group collectively wants something else). We'll be using tutorials of Beyoncé’s choreography from YouTube or whatever else we need to in order to learn.</p>
    <p>Although I am a dancer, please trust that I will be grappling with the movements myself so this group is for those people comfortable with working together. Please bring $5 to help cover the cost of the studio.</p>
    <p>Come prepared to laugh at yourself, access your fierce alter ego, and do a lot of moving!</p>
    <h4 class="text-center"><a href="{% url 'healers' %}">Return to Healing the Healers</a></h4>
  </div>
  <script>
      $('#navbar .navbar-nav li').removeClass("active");
      $('#navbar .navbar-nav :nth-child(3)').addClass("active");
  </script>
{% endblock %}