{% extends 'base2.html' %}
{% load static %}
{% block content %}
<section class="b2-top container divider">
    <div id="healer-logo" class="col-md-8 col-md-offset-2">
      <img src="{% static 'imgs/Healing the healers Logo.png' %}"/>
    </div>
</section>
<div class="container spacer">
  <p class="text-center intro-p">This is where a description of what Healing Healers is about</p>
</div>
<div class="container divider speeches">
    <div class="col-md-3">
        <a href="{% url 'coaching' %}"><div id="b1" class="front small-title">
            <h3 class="text-center">Coaching Packages</h3>
        </div></a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'play' %}"><div id="b2" class="front small-title">
            <h3 class="text-center">Workshop for Healers</h3>
        </div><a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'play' %}"><div id="b3" class="front small-title">
            <h3 class="text-center">Healers at Play</h3>
        </div><a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'beyonce' %}"><div id="b1" class="front small-title">
            <h3 class="text-center">Dance like Beyoncé</h3>
        </div></a>
    </div>
</div>
  <script>
      $('#navbar .navbar-nav li').removeClass("active");
      $('#service-link').addClass("active");
  </script>
  {% include 'footer.html' %}
{% endblock %}