{% extends 'base2.html' %}
{% load static %}
{% block content %}
<section class="main">
<div class="container divider">
    <div class="col-md-6 col-md-offset-3">
      <img src="{% static 'imgs/Healing the healers Logo.png' %}"/>
    </div>
</div>
</section>
<div class="container spacer">
  <p class="text-center">This is where a description of what Healing Healers is about</p>
</div>
<div class="container divider speeches">
    <div class="col-md-3">
        <a href="{% url 'coaching' %}"><div class="front talk1 small-title">
            <h2 class="text-center talks">Coaching Packages</h2>
        </div></a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'play' %}"><div class="front talk2 small-title">
            <h2 class="text-center talks">Workshop for Healers</h2>
        </div><a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'play' %}"><div class="front talk2 small-title">
            <h2 class="text-center talks">Healers at Play</h2>
        </div><a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'beyonce' %}"><div class="front talk3 small-title">
            <h2 class="text-center talks">Dance like Beyoncé</h2>
        </div></a>
    </div>
</div>
  <script>
      $('#navbar .navbar-nav li').removeClass("active");
      $('#service-link').addClass("active");
  </script>
{% endblock %}