{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<section id="banner">
  <img src="{% static 'imgs/healing-healers-crop.png' %}">
  <h1 class="text-center small-h1">Healing the Healers</h1>
</section>
<div class="container top-con">
  <div class="top-logo text-center top-20 bottom-40">
    <img src="{% static 'imgs/healing_healers_logo.png' %}" />
  </div>
  <p class="p-large">Helping professionals work tirelessly to repair the physical, emotional and mental health of others. This includes classic helping professions like acase managers, psychologists, and social workers, but also applies to lawyers, doctors, home attendants and other professionals. These healers have a higher potential to experience vicarious trauma, burnout, and develop mental health issues.</p>
  <p>The mission of Healing the Healers is to assist those in the helping professions to improve their overall quality of life using workshops, and talks. Also as a Trauma Stewardship coach I have worked with organizations such as Powerful Voices and the Young Women’s Christian Organization (YWCA).</p>
  <p>My work as a trauma stewardship coach and speaker allow me to help healers:</p>
  <ul class="healers-list">
    <li>Reduce burnout</li>
    <li>Create a stronger sense of purpose within themselves and teams</li>
    <li>Gain energy and mental space to focus on priorities</li>
    <li>Create tailored work/life boundaries </li>
    <li>Foster connection with self and others </li>
    <li>Improve decision making skills</li>
    <li>Improve mental health </li>
  </ul>
  <img src="{% static 'imgs/seattle_therapy_alliance.jpg' %}" class="side-img" />
  <ul class="healers-list">
    <li>Increase in job performance</li>
    <li>Understand the warning signs and prevention of burnout</li>
    <li>Understand and share a universal self-care vocabulary for helping professionals</li>
    <li>Improve overall quality of life and reduce vicarious trauma, work related depression or anxiety. </li>
    <li>Create a collaborative rather than competitive professional atmosphere</li>
  </ul>
  <div class="clearfix"></div>
  <div class="note text-center bottom-40">
    <p>To contact me about supporting you or your staff through Trauma Stewardship coaching or speaking, please schedule a free 15-minute session to discuss things further.</p>
  </div>
</div>
  <script>
      $('#navbar .navbar-nav li').removeClass("active");
      $('#service-link').addClass("active");
  </script>
{% endblock %}