{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  <!-- <section class="main" style="background: url('{% static 'imgs/forest-road-in-the-fall.jpg' %}') no-repeat; background-size:100%; background-position:right;">
    <div class="container">
      <h1 class="text-center">About Kyeisha</h1>
    </div>
  </section>-->
  <section id="banner">
    <img src="{% static 'imgs/about-main-crop.png' %}">
    <h1 class="text-center">About Kyeisha</h1>
  </section>
  <div class="container divider top-con">
    <h2 class="text-center">A Little About Me</h2>
    <div id="about1" class="about-img-div">
      <img class="about-img" src="{% static 'imgs/red-cropped.jpg' %}"/>
    </div>
    <p class="about-p p-large">I was born and raised in NYC surrounded by the electric energy  and bustling life of the city. From early I've been passionate about the art of healing. I'm told that I invite authenticity and playfulness into the spaces I frequent, while also challenging others to speak their truth and be vulnerable.</p>
    <p class="about-p p-large">I am also a dancer who re-discovered my passion for the art a few years ago. I'm a huge fan of Beyonce's choreography (enough to learn it &amp; offer a dance class at a local dance studio temporarily), a music junkie, humor enthusiast, "lyric decipherer", and someone who is in awe of women's ability to create life.</p>
  </div>
  <div class="container divider">
    <h2 class="text-center">My Clinical &amp; Personal Values</h2>
    <article class="value-item">
      <h4>Self-Empowerment</h4>
      <p>I believe that we all have the right to make our own choices and the power to control our own lives. Personal and collective trauma often robs us of this birthright, I seek to restore this.</p>
    </article>
    <article class='value-item'>
      <h4>Equality</h4>
      <p>I operate from the basic assumption that we are equal collaborators. Experts in what we know and ignorant in what we do not. This framework establishes curiosity and partnership.</p>
    </article>
    <article class='value-item'>
      <h4>Transformation</h4>
      <p>Transformation begins with the quality of our beliefs. Transforming our beliefs allows us to live more authenticity and abundantly; that's true freedom.</p>
    </article>
    <article class='value-item'>
      <h4>Social Justice</h4>
      <p>My work challenges the emotional, mental, and psychological consequences of the lies of injustice. This creates social justice first internally then externally.</p>
    </article>
    <article class='value-item'>
      <h4>Thriving</h4>
      <p>All of my services help my clients to pursue a life where thriving isn't just a possibility but a regular expectation.</p>
    </article>
  </div>
  <div class="container divider">
    <h2 class="text-center">Education and Training</h2>
    <div id="about2" class="about-img-div">
      <img class="about-img" src="{% static 'imgs/yellow-sip-72.jpg' %}"/>
    </div>
    <p>I am a Licensed Mental Health Counselor (# MC 60507339) in Washington State. I graduated with honors with my Master's Degree in Mental Health Counseling from CUNY Hunter College and did my undergraduate work in Psychology and Sociology at Stony Brook University.</p>
    <p>I have had the privilege of working in the mental health field over the years at several outpatient treatment centers for those with chemical dependency issues and trauma. I have also completed several trainings that serve to help survivors of sexual assualt and domestic violence including most recently the Therapist Core Traning from Washington Coalition of Sexual Assault Programs (WCSAP). I have also worked at the YWCA Domestic Violence Emergency Shelter where I assisted women fleeing from abusive relationships. I have also served as a mental health counselor at a low-income clinic for women called Seattle Therapy Alliance.</p>
  </div>
  <div class="container spacer">
    <h2 class="text-center">Anti-Oppression Work</h2>
    <p>I am committed to creating and maintaining opportunities for social justice. I have been trained in social justice counseling and various issues related to the intersection of class, gender, race, and sexual orientation, and its impact on mental health.</p>
    <p>I have created and facilitated the group “Having the Conversation: Discussing Race, Oppression and Privilege”. For almost a year, this free community group served participants as they navigated past and ongoing racism. I have also served as a guest facilitator at the University of Washington's (UW) “Racial Justice Organizing and Caucus” where I assisted in facilitating the conversation on racism and various systems of oppression. It has also been an honor to provide psychosocial assessments to assist undocumented immigrants and their families.</p>
    <section id="affiliates">
      <div id="affil-1" class="col-md-2 col-sm-offset-1">
        <a target="_blank" href="https://therapists.psychologytoday.com/rms/prof_detail.php?profid=237765&p=10&tr=Ext_Verify">
          <img src="{% static 'imgs/external_verification.gif' %}"/>
        </a>
      </div>
      <div id="affil-2" class="col-md-4 col-sm-offset-1">
        <a target="_blank" href="https://www.mosaiccounselingcollective.com/kyeisha-hodge-lmhc/">
          <img src="{% static 'imgs/mosaic.jpeg' %}"/>
        </a>
      </div>
      <div id="affil-3" class="col-md-2 col-sm-offset-1">
        <a target="_blank" href="https://www.multiculturalcounselors.org/counselors/30">
          <img src="{% static 'imgs/mcc-badge-200.png' %}"/>
        </a>
      </div>
    </section>
  </div>
  <script>
      $('#navbar .navbar-nav .active').removeClass("active");
      $('#about-link').addClass("active");
  </script>
{% endblock %}