{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  <!-- <section class="main" style="background: url('{% static 'imgs/forest-road-in-the-fall.jpg' %}') no-repeat; background-size:100%; background-position:right;">
    <div class="container">
      <h1 class="text-center">About Kyeisha</h1>
    </div>
  </section>-->
  <section id="banner">
    <img src="{% static 'imgs/about-main-crop.png' %}">
    <h1 class="text-center">About Kyeisha</h1>
  </section>
  <div class="container divider top-con">
    <h2 class="text-center">A Little About Me</h2>
    <div id="about1" class="about-img-div">
      <img class="about-img" src="{% static 'imgs/red-cropped.jpg' %}"/>
    </div>
    <p class="about-p p-large">I am someone who has the <strong>immense</strong> honor of helping clients <strong>free</strong> themselves.</p>
    <p class="about-p p-large">All the while marveling at their ability to <strong>redesign</strong> their lives.</p>
    <p class="about-p p-large">It's my pride and my joy to assist people in processing their traumatic experiences, acknowledge the context of their pain, detox from trauma's lies, and design a life worth of their brilliance.</p>
    <p class="about-p p-large">When you're able to do this, no matter what obstacle you face you will not be tempted by the lies of oppression that say you are not good enough. You will already know you are.</p>
  </div>
  <div class="container divider">
    <h2 class="text-center">My Clinical &amp; Personal Values</h2>
    <p>The following values serve as the backbone of the work I do.</p>
    <article class="value-item">
      <h4>Self-Empowerment</h4>
      <p>I believe that we all have the right to make our own choices and the power to control our own lives. Personal and collective trauma often rob us of this birthright; I seek to restore it.</p>
    </article>
    <article class='value-item'>
      <h4>Collaboration</h4>
      <p>I operate from the basic assumption that we are equal collaborators. Experts in what we know and ignorant in what we do not. This framework establishes curiosity and partnership.</p>
    </article>
    <article class='value-item'>
      <h4>Transformation</h4>
      <p>Real change begins with the quality of our beliefs. Revising our beliefs allows us to live more authentically and abundantly; that's true freedom!</p>
    </article>
    <article class='value-item'>
      <h4>Social Justice</h4>
      <p>My work challenges the lies of injustice that lead to emotional and psychological distress. This fosters social justice first internally, then externally.</p>
    </article>
    <article class='value-item'>
      <h4>Thriving</h4>
      <p>My services encourage clients to pursue a life where thriving isn't merely a possibility but a new standard.</p>
    </article>
  </div>
  <div class="container divider">
    <h2 class="text-center">Education and Training</h2>
    <div id="about2" class="about-img-div">
      <img class="about-img" src="{% static 'imgs/yellow-sip-72.jpg' %}"/>
    </div>
    <p>I am a Licensed Mental Health Counselor (# LH 60680488). I graduated with honors with my Master’s Degree in Mental Health
    Counseling from CUNY Hunter College and did my undergraduate work in Psychology and Sociology at Stony Brook University.</p>
    <p>I have worked in the mental health field at several outpatient treatment centers for those with chemical dependency issues
    and trauma. In 2012 I was licensed by New York State Department of Health (DOH) as a Rape Crisis Emergency Room Counselor.
    As of 2014, I received the training for Washington State requirements for a Domestic Violence direct service provider (WAC
    388-61A-0350).</p>
    <p>I have worked at the YWCA Domestic Violence Emergency Shelter where I assisted women fleeing from abusive relationships.
    In addition to this I have served as a mental health counselor at Seattle Therapy Alliance, a low-income clinic for women
    in Seattle where I supported clients who suffer from trauma related symptoms such as PTSD, Anxiety and Depression.</p>
    <p>The type of counseling theories I practice are Narrative Therapy and Cognitive Processing Therapy. Narrative therapy focuses
    on uncovering the stories we create about ourselves and acknowledges our power to rewrite the destructive ones. Cognitive
    Processing Therapy offers concrete techniques to change limiting beliefs, thoughts, actions and assumptions that get in the
    way of living the highest quality of life possible.</p>
  </div>
  <div class="container divider">
    <h2 class="text-center">Social Justice Work</h2>
    <p>I am also committed to creating and maintaining opportunities for social justice and combating oppression (including my counseling
    services). I have had extensive training from the organization Seattle Therapy Alliance in social justice counseling and
    various issues related to the intersection of class, gender, race, and sexual orientation, as well as their impact on mental
    health.</p>
    <p>My past anti-oppression services also include creating and facilitating the group “Having the Conversation: Discussing Race,
    Oppression and Privilege”. For almost a year, this free community group served participants as they navigated past and recent
    racism. In 2015 I created and facilitated trainings at the Young Women Christian Association (YWCA) detailing the intersection
    of Racism and Domestic Violence.</p>
    <p>I recently served as a guest facilitator at the University of Washington’s (UW) “Racial Justice Organizing and Caucus” where
    I assisted in facilitating the conversation around the white-supremacist, extra-judicial killings of black people by providing
    them a space to caucus with other students.</p>
    <section id="affiliates">
      <div id="affil-1" class="col-md-2 col-sm-offset-1">
        <a target="_blank" href="https://therapists.psychologytoday.com/rms/prof_detail.php?profid=237765&p=10&tr=Ext_Verify">
          <img src="{% static 'imgs/external_verification.gif' %}"/>
        </a>
      </div>
      <div id="affil-2" class="col-md-4 col-sm-offset-1">
        <a target="_blank" href="https://www.mosaiccounselingcollective.com/kyeisha-hodge-lmhc/">
          <img src="{% static 'imgs/mosaic.jpeg' %}"/>
        </a>
      </div>
      <div id="affil-3" class="col-md-2 col-sm-offset-1">
        <a target="_blank" href="https://www.multiculturalcounselors.org/counselors/30">
          <img src="{% static 'imgs/mcc-badge-200.png' %}"/>
        </a>
      </div>
    </section>
  </div>
  <div class="container spacer">
    <h2 class="text-center">My Personal Passions</h2>
    <p>I am extremely passionate about self care being a standard amongst my colleagues, fellow healers, clients, and MYSELF. My
    passion and my love is dance. I’m an amateur dancer who rediscovered my passion for the art a few years ago. I'm also a
    huge fan of Beyonce's choreography. Enough to learn it &amp; offer a dance class at a local dance studio temporarily for fun.
    I’m also a music junkie, humor enthusiast, "lyric decipherer", and someone who is in awe of women's ability to create life.</p>
  </div>
  <script>
      $('#navbar .navbar-nav .active').removeClass("active");
      $('#about-link').addClass("active");
  </script>
{% endblock %}