{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<section class="main" style="background: url('{% static 'imgs/c6b.jpg' %}') no-repeat; background-size:100%; background-position:right;">
    <div class="container">
      <h1 class="text-center">Counseling</h1>
    </div>
</section>
<div class="container top-con">
  <blockquote class="top-quote">
    <p>"Therapy shouldn't be a place you go to slap another label of pathology on yourself. Therapy is where you go to remove the already stuck on destructive labels and give yourself permission to thrive and achieve your brand of excellence!"</p>
    <p>- Kyeisha Hodge, LMHC</p>
  </blockquote>
  <section>
    <h2 class="text-center">Get Past "Survivor Mode" and Start Thriving</h2>
    <p class="top-20">Domestic violence is much more than just whether or not someone hits you. It's a pattern of abusive behavior in ANY relationship, used by one partner to gain or maintain power and control over another. Experiencing domestic violence, sexual assault, or childhood abuse can leave deep wounds.</p>
    <p>These injuries show up in the form of negative relationships, emotional breakdowns, aimlessness, intense fear, and self-loathing. My work aims to support survivors and reverse these effects.</p>
  </section>
  <section>
    <h3 class="text-center">A Unique Approach</h3>
    <p class="top-20">Clients often walk away from completing therapy with me empowered to design their lives. They shed the shame associated with their trauma by connecting with their intrinsic self-worth. They break the habit of hypervigilant, reactive, and avoidant behaviors that often accompany trauma, while also developing a tolerance for joy without sabotage and existing in the world with a deeper understanding of their values. Clients leave therapy with a healthy way of communicating, perceiving, and relating to those closest to them; all the while reconnecting with their passion, curiosity, as well as practicing “play”. Clients often gain clarity regarding their life goals, their priorities, and their beliefs which allow them to become the best versions of themselves.</p>
  </section>
  <blockquote class="top-quote">
    <p>"I aim to serve and include Black people &amp; folks of  color in therapy's healing process. By considering collective trauma and understadning that "pathology" is simply a normal reaction to abnormal/oppressive events."</p>
    <p>- Kyeisha Hodge, LMHC</p>
  </blockquote>
  <section>
    <h3 class="text-center">Healing Collective Trauma</h3>
    <p class="top-20">Together we will explore how the collective trauma of racism, sexism, and other –isms impact your mental health. We will also explore your different identities (e.g. as gender, race, class) and uncover, challenge, and revise the beliefs that you had to align with in order to safely navigate these structures.</p>
    <p>For example, if you have learned that in order to be safe you must give away your power, or, that having extreme control over yourself and others means you can avoid pain, then you understand the power of our environments to shape who we are.</p>
    <p>This social justice perspective to counseling not only creates healing but also decreases the likelihood of future abusive environments.</p>
  </section>
  <section id="specialties">
    <h3 class="text-center">My Specific Counseling Specialties</h3>
    <p class="top-20">My expertise lies in assisting in the healing of the following issues:</p>
    <div class="col-md-4">
      <ul>
        <li><p>Domestic Violence</p></li>
        <li><p>Childhood Abuse</p></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li><p>Sexual Assault</p></li>
        <li><p>PTSD and Anxiety</p></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li><p>African American Issues</p></li>
        <li><p>Collective Trauma (racism, sexism, classism, etc)</p></li>
      </ul>
    </div>
  </section>
  <div class="clearfix"></div>
  <section>
    <p>I'm proud to be apart of a collective of counselors that have similiar values and mission. Mosiac Counseling Collective is a team of psychotherapists who are social justice-oriented and offer a wide range of treatment approaches. Check us out here: <a href="https://www.mosaiccounselingcollective.com/kyeisha-hodge-lmhc/" target="_blank">https://www.mosaiccounselingcollective.com/kyeisha-hodge-lmhc/</a></p>
  </section>
</div>
<script>
    $('#navbar .navbar-nav li').removeClass("active");
    $('#service-link').addClass("active");
</script>
{% endblock %}