{% load static %}
<footer class="footer">
  <section id="consult" class="" style="background: url('{% static 'imgs/brick-flip.jpg' %}') no-repeat; background-size:100%; background-position:left;">
    <div class ="container">
      <div class="col-md-6 pull-right" id="consult-container">
        <a target="_blank" href="https://www.timetrade.com/app/td-4213452/workflows/wgwch/schedule/availability?wfsid=b07a7e16-baba97f6-b07af3d1-baba97f6-00000002-6q4m7itfgise3c345ono5fk7h9il2tn6&view=full&fs=1">
          <h4 class="text-center"><span class="text-capitalize">Click here</span> to Schedule your <span class="text-capitalize">free</span> 15-minute consultation</h4>
        </a>
      </div>
    </div>
  </section>
  <div class="container contact-outer">
    <div class="col-md-5 contact-logo">
      <p>Access the power you <span class="text-capitalize">already</span> have.</p>
      <p>Dismantle Trauma's <span class="text-capitalize">lies</span> have.</p>
      <p>Foster Self-Love & Design a Thriving Life!</p>
    </div>  
    <div class="col-md-6"></div>
    <div class="col-md-3 contact-info">
      <p><img class="contact-imgs" src="{% static 'imgs/tele (1).png' %}"/>1 . 205 . 755 . 0502</p>
      <p><img class="contact-imgs" src="{% static 'imgs/email.png' %}"/><a href="mailto:kyeisha.hodge@gmail.com​?subject=Services Request">kyeisha.hodge@gmail.com​</a></p>
      <p><img class="contact-imgs" src="{% static 'imgs/tele (1).png' %}"/>1 . 205 . 755 . 0502</p>
    </div>
    <div class="col-md-3 contact-info">
      <p><img class="contact-imgs" src="{% static 'imgs/tele (1).png' %}"/>1 . 205 . 755 . 0502</p>
      <p><img class="contact-imgs" src="{% static 'imgs/email.png' %}"/><a href="mailto:kyeisha.hodge@gmail.com​?subject=Services Request">kyeisha.hodge@gmail.com​</a></p>
  </div>
</footer>