{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="main" style="background: url('{% static 'imgs/p2b.jpg' %}') no-repeat; background-size:100%; background-position:right;">
    <div class="container">
      <h1 class="text-center">Presentations</h1>
    </div>
</section>
<div class="container divder top-con">
    <p class="text-center">Kyeisha has given a multiude of talks regarding her areas of expertise.   Select from the topics below to read more</p>
</div>
<div id="two-talks" class="container spacer">
    <div class="col-md-4 col-md-offset-1">
        <img class="talk-dot" src="{% static 'imgs/pd-3.png' %}"/>
        <p>In this presentation participants will:</p>
        <ul>
            <li><p>Understand the Duluth Model of the “Power & Control Wheel”</p></li>
            <li><p>Understand the common tactics of abuse</p></li>
            <li><p>Be able to better assess and disengage from potentially abuse people and environments.</p></li>
            <li><p>Relate tactics of abuse in Domestic Violence to other forms of oppression like racism, sexism, and classism.</p></li>
            <li><p>Understand the psychological consequences of tactics described above (including internalized oppression)</p></li>
            <li><p>Become introduced to shame’s role in perpetuating oppression</p></li>
            <li><p>Understand how to implement specific empowerment tools to help reverse the effects of oppression</p></li>
            <li><p>Refer to the “Wheel of Equality” as inspiration for how to overcome Domestic violence and other form of abuse and oppression.</p></li>
        </ul>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <img class="talk-dot" src="{% static 'imgs/pd-4.png' %}"/>
        <p>In this presentation participants will:</p>
        <ul>
            <li><p>Assess the current quality of relationship with themselves</p></li>
            <li><p>Explore the fundamental requirements for a healthy relationship (with others and self)</p></li>
            <li><p>Explore the role of self-talk in determining self-worth</p></li>
            <li><p>Differentiate between “rumination” and “worrying”</p></li>
            <li><p>Identify the common cognitive distortions</p></li>
            <li><p>Learn how to revise negative self-talk</p></li>
            <li><p>Explore the benefits of “Self-Mastery” as a concept and life style</p></li>
            <li><p>Learn how to implement specific tools for self-mastery including controlling your focus.</p></li>
        </ul>
    </div>
</div>
<div id="two-talks" class="container spacer">
    <div class="col-md-4 col-md-offset-1">
        <img class="talk-dot" src="{% static 'imgs/pd-2.png' %}"/>
        <p>In this presentation participants will:</p>
        <ul>
            <li><p>Understand the relationship between beliefs, thoughts, emotions, and behavior.</p></li>
            <li><p>Understand how beliefs are formed in the context of trauma</p></li>
            <li><p>Recognize the common limiting beliefs for survivors of abuse</p></li>
            <li><p>Recognize the emotional, and mental consequences of these common limiting beliefs</p></li>
            <li><p>Explore their personal major limiting beliefs</p></li>
            <li><p>Gain an understanding of how these beliefs have created consequences in different life areas</p></li>
            <li><p>Learn how to revise limiting beliefs through changing state, focus, and other tools</p></li>
            <li><p>Create a plan for addressing personal limiting beliefs</p></li>
        </ul>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <img class="talk-dot" src="{% static 'imgs/pd-1.png' %}"/>
        <p>In this presentation participants will:</p>
        <ul>
            <li><p>Gain a basic understanding of Domestic Violence (DV)</p></li>
            <li><p>Gain a basic understanding of shame (including being introduced to research from Brene Brown)</p></li>
            <li><p>Understand the common myths associated with DV and their role in collective and individual shame</p></li>
            <li><p>Understand the role of systems in perpetuating these myths</p></li>
            <li><p>Gain a basic understanding of internalized oppression</p></li>
            <li><p>Become familiar with shame resiliency techniques for domestic violence survivors. </p></li>
            <li><p>Understand a handful of ways to address shame in DV survivors and the community at large</p></li>
        </ul>
    </div>
</div>
<script>
    $('#navbar .navbar-nav li').removeClass("active");
    $('#service-link').addClass("active");
</script>
{% include 'footer.html' %}
{% endblock %}