{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<section class="main" style="background: url('{% static 'imgs/p2b.jpg' %}') no-repeat; background-size:100%; background-position:right;">
    <div class="container">
      <h1 class="text-center">Speaking</h1>
    </div>
</section>
<div class="container divder top-con">
    <h3>Presentations to Inspire Change</h3>
    <p>My presentations seek to create liberation, truth telling, and healing within organizations like the YWCA and Seattle Therapy Alliance. These workshops and presentations are for companies that want to educate their staff on the complexities of domestic violence, sexual assualt, and racism/sexism on mental health. As well as how to systematically overcome them. Below are my most requested talks and workshops:</p>
</div>
{% if presentations %}
{% for pair in presentation_pairs %}
<div id="two-talks" class="container spacer">
    <div class="col-md-4 col-md-offset-1">
        <img class="talk-dot" src="{% static 'imgs/pd-3.png' %}"/>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <img class="talk-dot" src="{% static 'imgs/pd-4.png' %}"/>
    </div>
</div>
<script>
    $('#navbar .navbar-nav li').removeClass("active");
    $('#service-link').addClass("active");
</script>
{% endfor %}
{% endif %}
{% endblock %}